<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collections</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/collections">COLLECTIONS</a></li>
        <li><a href="/catalog">CATALOG</a></li>
        <li><a href="/sale">SALE</a></li>
        <li><a href="/contact">CONTACT US</a></li>
      </ul>
      <hr>
    </nav>  
    <p>Welcome to the collections page!</p>
  </body>
</html>
